body {
  font: sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.series path {
  fill: none;
  stroke: grey;
  stroke-opacity: 0.5;
  stroke-width: 3px;
}

.series circle {
  fill: grey;
  stroke: none;
  fill-opacity: 0.5;
}

.series text {
  fill: grey;
  stroke: none;
  fill-opacity: 0.5;
}

.no_highlight path {
  stroke: grey;
  stroke-opacity: 0.1;
}

.no_highlight circle {
  fill: grey;
  fill-opacity: 0.1;
}

.no_highlight text {
  fill: grey;
  fill-opacity: 0.1;
}

.highlight path {
  stroke: black;
  stroke-opacity: 1.0;
}

.highlight circle {
  fill: black;
  fill-opacity: 1.0;
}

.highlight text {
  fill: black;
  fill-opacity: 1.0;
}

text.highlight {
  fill: black;
}

text.no_highlight {
  fill: grey;
  fill-opacity: 0.1;
}

td.value, td.price {
  text-align: right;
}

tr.highlight td {
  background-color: yellow;
}

table {
  margin: 10 100 10 50;
  width: 70%;
}

