svg {
  overflow: visible; }

.chart {
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.4%;
  width: 30%;
  margin-bottom: 0px;
  float: left; }

.chart rect.backgroundrect {
  fill: #fff; }

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges; }

.charttitle {
  text-anchor: middle;
  font-size: 1em; }

g.drawing {
  pointer-events: all; }

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px; }

.axis text {
  font-size: 0.72em;
  fill: #000; }

.axislabel {
  text-anchor: end;
  font-size: 0.72em; }

.line {
  fill: none;
  stroke: black;
  stroke-width: 3px; }

.linelabel {
  font-size: 0.72em;
  cursor: default; }

.area {
  fill-opacity: 1; }

path.total {
  stroke: black;
  stroke-width: 2px;
  fill: none; }

text.seriesValue {
  font-size: 0.72em;
  text-anchor: middle; }

path.total.hover {
  stroke-width: 3px; }

path.hover {
  stroke: black;
  stroke-width: 1px; }

.linelabel.hover {
  fill: black !important;
  font-weight: bold; }

.labelbackground {
  fill: white; }

g.context path {
  fill: grey;
  fill-opacity: 0.02; }

ul#links {
  clear:both;
}

path.lowcarbon {
  fill: black;
}

path.hybrid {
  fill: #0d0081;
}

path.lowcarbon {
  fill: blue;
}


