body {
  font: 10px sans-serif;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

div#chart {
  width: 58%;
}

div#filter {
  float: right;
  width: 40%;
  padding-top: 20px;
}

table {
  font: 10px sans-serif;
}

table.filter_table {
  float: left;
  width: 45%;
}

table.filter_on td {
  opacity: 0.1;
}

table.filter_table td {
  opacity: 0.1;
}

tr.scenario {
  cursor: pointer;
}

tr.not_included {
}

#title {
  width: 100%;
  font-size: 16px;
  height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

circle {
  stroke-width: 0px;
}

.selected circle, circle.selected {
  fill: yellow;
  fill-opacity: 1.0;
}

tr.selected td {
  opacity: 1.0;
  color: black;
}

tr.permanently_selected td {
  opacity: 1.0;
  color: black;
}

.case {
  fill-opacity: 0.5;
  fill: steelblue;
  color: steelblue;
}

line.show_crosshairs {
  stroke-width: 1px;
  stroke: yellow;
}

text#x_value_of_case, text#y_value_of_case, text#name_of_case {
  stroke: none;
  fill: none;
}

text#x_value_of_case.show_crosshairs, text#y_value_of_case.show_crosshairs, text#name_of_case.show_crosshairs {
  fill: black;
}


table.case_table th, table.case_table td {
  text-align: center;
}

table.case_table th.name, table.case_table td.name {
  text-align: left;
}

tr:hover td {
  background-color: yellow;
}

.hidden {
  display: none;
}
